<nav class="menu">
    <ul>
        <li><a href="{{ link('demo') }}" class="menu__item">{{ 'demo.menu_title'|trans }}</a></li>
        <li><a href="{{ link('unstranslated') }}" class="menu__item">Unstranslated</a></li>
    </ul>
</nav>
