{% extends 'layouts/default.twig' %}

{% block head %}
    {% include '@Core/components/metas.twig' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>This page is not translated</h1>
{% endblock %}
