$c-white: #fff;
$c-black: #000;
$c-neutro900: gray;
$c-neutro200: yellow;

:root {
    --color-base-blue: #1183ad;
    --color-base-orange: #e6680c;
    --color-light-yellow: #f7eec7;
    --color-light-blue: #edfffe;
    --color-link: #3f773b;
    --color-brown-base: #553f29;
    --color-gray-base: #fbf9f6;
    --color-gray-dark: #6c6c6c;
    --color-dark: #444;
    --color-red-base: #b54100;
    --color-white-base: #fff;
    --color-yellow-base: #ff9c00;
    --color-link-base: var(--color-red-base);
}
