{% set class = section.class|default('') %}

<section class="what-we-do {{ class }} padding-top--xxl padding-bottom--xxl">
    <div class="u-wrapper">
        <h2 class="title4 margin-bottom--xl">Què pots aprendre amb nosaltres</h2>
    </div>
    <div class="what-we-do__content u-wrapper">
        <div class="what-we-do__column">
            <p class="title3">Teatre</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur commodi inventore, ipsa voluptatibus possimus vitae exercitationem impedit cumque nemo aut.</p>
        </div>
        <div class="what-we-do__column">
            <p class="title3">Interpretació</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur commodi inventore, ipsa voluptatibus possimus vitae exercitationem impedit cumque nemo aut.</p>
        </div>
        <div class="what-we-do__column">
            <p class="title3">Dansa</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur commodi inventore, ipsa voluptatibus possimus vitae exercitationem impedit cumque nemo aut.</p>
        </div>
    </div>
</section>