html, body {
    color: $c-black;
    font-display: swap;
    font-family: $t-sans-serif;
    font-size: 100%;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $t-serif;
    font-weight: normal;
    margin-bottom: space();
}

.title1 {
    @include fluid-type(61.035px, 127.884px);

    line-height: .9;
    text-shadow: 3px 3px 1px var(--accent-color);
}

.title2,
.title3 {
    line-height: 1.1;
}

.title2 {
    @include fluid-type(48.828px, 63.961px);

    line-height: 1.1;
}

.title3 {
    @include fluid-type(39.063px, 45.234px);
}

.title4 {
    @include fluid-type(31.25px, 31.99px);

    line-height: 1.2;
}

.title5 { text-transform: uppercase; }

.p-small {
    @include fluid-type(12.8px, 11.315px);

    line-height: 1.4;
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

p + p:not(.p-nomargin) {
    margin: space() 0 0;
}

a {
    color: var(--color-link);
    cursor: pointer;
    text-decoration: underline;
}

.t-serif { font-family: $t-serif; }
